.boton-clear{
    height: 80px;
    font-size: 1.6em;
    display: flex;
    flex: 1;
    background-color: #010117;
    color: rgb(255, 255, 255);
    margin-top: 8px;
    border-radius: 32px;
    border: 2px solid white;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 4px 4px 10px #f5c33b;
};