.input{
    width: 90%;
    height: 75px;
    border-radius: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end ;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    background-color: rgb(42, 42, 58);
    color: rgb(255, 255, 255);
    padding: 30px 30px 11px 11px;
    margin: 8px solid white;
    box-shadow: -1px 4px 1px rgb(236, 236, 255);
    box-shadow: 1px 1px 1px 1px #f5c33b;
}