.App{
  height: 100vh;
  padding-top: 10px;
  background-color: #010117;
  font-family: monospace, Lato;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: linear-gradient(120deg, #060120, #000000);  
  height : 100vh;
}

.Logo-contenedor{
  width: 100%;
  height: 50px;
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.Un-logo{
  height: 200px;
}

.contenedor-calculadora{
  width: 400px;
  height: 700px;
  padding: 14px;
  background-color: #010117;
  border-radius: 20px;
  border: 1px solid white;
  box-shadow: 1px 1px 10px #ff4310;
  display: flex;
  flex-direction: column;
  gap: 5px;
}


.fila{
  margin: 4px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.contenedor-titulo{
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 40px;
  font-weight: bold;
  font-family:'Courier New', Courier, monospace;
}

h1{
  margin: 0;
}